<!-- Footer -->
<footer class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                © 2022. All rights reserved.
            </div>
            <div class="col-xs-6">
                <ul class="pull-right list-inline m-b-0">
                    <li>
                        <a target="_blank" href="http://pictureyourtravel.com/">PYT | Picture Your Travel</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->


<!--========== Body Content Ends ===================!-->


<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/detect.js"></script>
<script src="/assets/js/fastclick.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/jquery.blockUI.js"></script>
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/jquery.nicescroll.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>

<script src="/assets/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>

<!-- App core js -->
<script src="/assets/js/jquery.core.js"></script>
<script src="/assets/js/jquery.app.js"></script>


<!-- owl carousel js -->
<script src="/assets/plugins/owl.carousel/dist/owl.carousel.min.js"></script>


<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<script src="/build/js/intlTelInput.js"></script>
<script>

    const countryCodeEl= document.querySelector(`#country-code`),
        countryCode = countryCodeEl.dataset.id;
        console.log(countryCode)
        
  var input = document.querySelector("#contact_number");
  window.intlTelInput(input, {
    // allowDropdown: false,
    // autoHideDialCode: false,
    // autoPlaceholder: "on",
    // dropdownContainer: document.body,
    // excludeCountries: ["us"],
    // formatOnDisplay: false,
    // geoIpLookup: function(callback) {
    //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
    //     var countryCode = (resp && resp.country) ? resp.country : "";
    //     callback(countryCode);
    //   });
    // },
    // hiddenInput: "full_number",
    // initialCountry: "auto",
    // localizedCountries: { 'de': 'Deutschland' },
    // nationalMode: false,
    // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
    placeholderNumberType: "MOBILE",
    preferredCountries: [countryCode],
    separateDialCode: true,
    utilsScript: "/build/js/utils.js",
  });
</script>


<script type="text/javascript">
    jQuery(document).ready(function ($) {


        $('.owl-carousel').owlCarousel({
            loop: false,
            rewind: true,
            margin: 10,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })

    });

    jQuery(document).ready(function($){
	var $slickElement = $('.slideshow');

	$slickElement.slick({
	  autoplay: true,
	  dots: false,
	});




});


  // fancybox customisation
  $('[data-fancybox]').fancybox({
    keyboard:{
  Escape: "close",
  Delete: "close",
  Backspace: "close",
  PageUp: "next",
  PageDown: "prev",
  ArrowUp: "next",
  ArrowDown: "prev",
  ArrowRight: "next",
  ArrowLeft: "prev",
}

});


(function () {
  "use strict";

  var carousels = function () {
    $(".owl-carousel1").owlCarousel({
      loop: true,
      center: true,
      responsiveClass: true,
      loop: false,
				nav:true,
				navText:['<i class="fa fa-arrow-left"></i>','<i class="fa fa-arrow-right"></i>'],
				margin: 30,
				dots: true,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        680: {
          items: 2,
          nav: false,
          loop: false
        }
      }
    });
  };

  (function ($) {
    carousels();
  })(jQuery);
})();



</script>




<!-- plugins js -->

<script src="/assets/plugins/timepicker/bootstrap-timepicker.js"></script>



<!-- page js -->
<script src="/assets/pages/jquery.form-pickers.init.js"></script>

<!-- jQuery  -->


<script src="/assets/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>