.checkbox-inverse {
    width: 120px;
}

.email-verification-form-wrapper {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    height: auto !important;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-content: center;
    right: unset !important;
    min-width: 40%;
    border-radius: 5px;
}

#monday-open-close-time,
#tuesday-open-close-time,
#wednesday-open-close-time,
#thursday-open-close-time,
#friday-open-close-time,
#saturday-open-close-time,
#sunday-open-close-time{
    display: none;

}

.open-timing{
    display: inline-block !important;
}

.notyf__ripple{
    border-radius: 0 !important;
    height: 445px !important;
    background-color: red !important;
}

.email-verification-form-wrapper .email-verification-form-section {
    text-align: center;
}

.email-verification-form-wrapper .email-verification-form-section h3 {
    font-size: 1.5rem;
}

@media (max-width: 600px){

    .email-verification-form-wrapper {
        min-width: 60%;
    }

}

@media (max-width: 500px){

    .email-verification-form-wrapper {
        min-width: 80%;
    }

}









@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.drag-area{
  border: 2px dashed #fff;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}



/* delete btn */
.delete-form button{
  background: none;
  border: none;
}


form .preview-image{
  width: 200px;
  margin: 10px 0 10px 20px;
  border-radius: 5px;
}
form .media-wrapper{
  display: inline-grid;
  grid-auto-flow: row;
}
form .media-wrapper span{
  margin: -8px 0 10px 20px; /* matching image's margin */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 0;
  transition: all 0.2s;
}
form .media-wrapper span.remove-media{
  background:red;
}
form .media-wrapper span.add-media-back-btn{
  background: green;
}
