.checkbox-inverse {
    width: 120px;
}

.email-verification-form-wrapper {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    height: auto !important;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-content: center;
    right: unset !important;
    min-width: 40%;
    border-radius: 5px;
}

#monday-open-close-time,
#tuesday-open-close-time,
#wednesday-open-close-time,
#thursday-open-close-time,
#friday-open-close-time,
#saturday-open-close-time,
#sunday-open-close-time{
    display: none;

}

.open-timing{
    display: inline-block !important;
}

.notyf__ripple{
    border-radius: 0 !important;
    height: 445px !important;
}

.email-verification-form-wrapper .email-verification-form-section {
    text-align: center;
}

.email-verification-form-wrapper .email-verification-form-section h3 {
    font-size: 1.5rem;
}

@media (max-width: 600px){

    .email-verification-form-wrapper {
        min-width: 60%;
    }

}

@media (max-width: 500px){

    .email-verification-form-wrapper {
        min-width: 80%;
    }

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.drag-area{
  border: 2px dashed #fff;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}



/* delete btn */
.delete-form button{
  background: none;
  border: none;
}


form .preview-image{
  width: 200px;
  margin: 10px 0 10px 20px;
  border-radius: 5px;
}
form .media-wrapper{
  display: inline-grid;
  grid-auto-flow: row;
}
form .media-wrapper span{
  margin: -8px 0 10px 20px; /* matching image's margin */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 0;
  transition: all 0.2s;
}
form .media-wrapper span.remove-media{
  background:red;
}
form .media-wrapper span.add-media-back-btn{
  background: green;
}


*{
  outline:none;
}
/* spacer */
.spacer{
  height:150px;
  width:100%;
}
.spacer2{
  height:20px;
  width:100%;
}
/* spacer ends */

/* slider styles */
.sd_master_wrapper{
	position: relative;	
	max-width:900px;
	margin:0 auto;
	padding:0;
	border-radius:10px;
	z-index:9999;
}
.sdtestBg3{
	height: 100%;
    width: 80%;
    background: #fff;
    position: absolute;
    bottom: -40px;
    left: 10%;
    border-radius: 20px;
    box-shadow: 0px 18px 52.8537px rgb(215 228 249 / 50%);
	z-index:1;
}
.sdtestBg2{
	height: 100%;
    width: 90%;
    background: #fff;
    position: absolute;
    bottom: -22px;
    left: 5%;
    border-radius: 20px;
    box-shadow: 0px 18px 52.8537px rgb(215 228 249 / 50%);
	z-index:2;
}

.sd_scroll {
	height: auto;
    max-height: 180px;
    overflow: auto;
}
	
.slideshow {
    position: relative;
    min-height: 300px;
    height: auto;
    background: #fff;
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
    border-radius: 20px;
    background-image: url(https://farsighttechnologies.com/wp-content/uploads/2021/03/quote1.png), url(https://farsighttechnologies.com/wp-content/uploads/2021/03/quote.png);
    background-position: top 15px left 15px, bottom 40% right 15px;
    background-repeat: no-repeat;
    background-size: 180px, 180px;
	z-index:3;
}
button.slick-prev.slick-arrow {
    position: absolute;
    z-index: 9999;
    bottom: -80px;
    right: 160px;
    background: transparent;
    color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 15px;
    width: 30px;
    padding: 0;
    background-image: url(https://farsighttechnologies.com/wp-content/uploads/2021/03/left-icon.png);
    background-size: 100% 100%;
}
button.slick-next.slick-arrow {
    position: absolute;
    bottom: -82px;
    right: 105px;
    background: transparent;
    color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    height: 18px;
    width: 40px;
    background-image: url(https://farsighttechnologies.com/wp-content/uploads/2021/03/right-icon.png);
    background-size: 100% 100%;
}
.pagingInfo {
    position: absolute;
    bottom: 0;
    z-index: 999;
}
.sdCustomSliderHeadig {
    color: #94A2B3;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6em;
    text-align: center;
}
.sdCustomSliderBtn{
    display: inline-block;
    text-decoration: none;
    font-family: montserrat;
    background: #E31C3A;
    color: #fff;
    padding: 12px 25px;
    margin-top: 30px;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
}
.sdAllContent{
	width:75%;
	margin:auto;
}
.thumbnail img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: auto;
    margin-top: 15px;
}
.content{
	display:block !important;
	padding: 5px;
}
.SdClientName {
    text-align: center;
    color: #272D4E;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
	margin-top: 15px;
}
.SdClientDesc {
    text-align: center;
    color: #7854F7;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    line-height: 1.4em;
	margin-bottom: 10px;
}


/* style for moblile */
@media (max-width:576px){
.sd_scroll {
    height: auto;
    overflow: auto;
	max-height:240px;
}

.thumbnail, .btnNtxt{
	width: 100% !important;
    display: block !important;
}

}
/* scroll bar */
/* total width */
.sd_scroll::-webkit-scrollbar {
    background-color:transparent;
    width:6px;
}

/* background of the scrollbar except button or resizer */
.sd_scroll::-webkit-scrollbar-track {
    background-color:transparent;
}
.sd_scroll::-webkit-scrollbar-track:hover {
    background-color:transparent;
}

/* scrollbar itself */
.sd_scroll::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    
}
.sd_scroll::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
}


.modal-bg{
  z-index: 10000 !important;
}
.modal{
  z-index: 100000 !important;
}

.thumbnail{
  border: none !important;
  background: none !important;
}

.loader{
  z-index: 100000000 !important;
}

.swal2-container{
  z-index: 10000000 
  !important;
}

#topnav{
  z-index: 1000000 !important;
}

#contact-number-section{
  display: grid;
}

.slideshow{
  min-height: 230px !important;
}

